/* System Colors */
@define-color color0  #cc241d;  /* Dark Red */
@define-color color1  #fe8019;  /* Bright Orange */
@define-color color2  #b8bb26;  /* Soft Green */
@define-color color3  #83a598;  /* Muted Cyan */

/* General Style */
@define-color color4  #fabd2f;  /* Vibrant Yellow */
@define-color color5  #d3869b;  /* Soft Pink */
@define-color color6  #b16286;  /* Warm Purple */
@define-color color7  #8ec07c;  /* Light Green */

/* Background Colors */
@define-color background #1d2021;  /* Very Dark Background */
@define-color second-background #282828; /* Secondary Dark Background */
